Repository xvalac12/calculator, changes with the owners that CODEOWNERS names for each.
All owners: xbukas00@stud.fit.vutbr.cz, xvalac12@stud.fit.vutbr.cz, @Brezak, xstola03@stud.fit.vutbr.cz

CODEOWNERS:

# xbukas00
src/functions.py xbukas00@stud.fit.vutbr.cz

# xvalac12
mockup/* xvalac12@stud.fit.vutbr.cz
plan/* xvalac12@stud.fit.vutbr.cz
src/gui.py xvalac12@stud.fit.vutbr.cz

# xbezak02
src/tests.py @Brezak

# xstola03
src/profiling.py xstola03@stud.fit.vutbr.cz
profiling/* xstola03@stud.fit.vutbr.cz

profiled on 1 000 000 numbers
  profiling/profile.sh
  profiling/vystup.out
Owners: xstola03@stud.fit.vutbr.cz

Added long numbers handling
  src/functions.py
Owners: xbukas00@stud.fit.vutbr.cz

Change resolution + few formating tweeks
  src/gui.py
Owners: xvalac12@stud.fit.vutbr.cz

Small changes
  src/functions.py
Owners: xbukas00@stud.fit.vutbr.cz

Some formating changes
  src/gui.py
Owners: xvalac12@stud.fit.vutbr.cz
